<p>Please enter your personal info:</p>
      <div class="mb1">
        <%= text_field_tag :first_name, '',placeholder: "First Name", class: "radius" %>
      </div>
      <div class="mb1">
        <%= text_field_tag :last_name, '',placeholder: "Last Name", class: "radius" %>
      </div>
      <div id="payment-form" class=''>
      </div>