<% {'http://maxpixel.freegreatpicture.com/static/photo/1x/Mint-Leaves-Chilli-Prawn-Paste-Laksa-Food-Penang-244133.jpg': 'Penang Laksa', 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Char_kway_teow_in_parit_buntar.jpg/800px-Char_kway_teow_in_parit_buntar.jpg': 'Char Koay Teow'}.each do |image_url, place| %>

<div class="col s12 l3">
    <div class="row">
      <div class="col s12 center-align">
        <%= image_tag image_url, class:'responsive-img' %>
      </div>
      <div class="col s12">
        <%= place %>
      </div>
      
    </div>

</div>

<% end %>