<div class="row left-align home">
  <div class="col s12">
    <div class="row">
      <div class="col s12 table">
        <div class=" table-cell left-align">
          <h3>Drivers</h3>
        </div>
        <div class=" table-cell right-align">
          se more
        </div>
      </div>
      <div class="row">
      <%= render partial: 'driver', collection: @drivers %>
      </div>
    </div>
  </div>
  <div class="col s12">
    sdf
  </div>
  <div class="col s12">
    fgh
  </div>
</div>
